{{>navbar}}

<h1>Welcome back {{name}}</h1>
<h1>About Me Page</h1>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ex unde tenetur quasi pariatur modi, veniam exercitationem
    repudiandae eius fuga asperiores a quod quo hic, at optio labore atque ipsam. Deserunt!
    Voluptatibus consectetur harum vel aliquam tenetur, inventore quae nostrum voluptas repellat vitae cupiditate, sed
    totam. Eius deleniti blanditiis ducimus quidem nesciunt dignissimos dolor, totam culpa, rerum vitae temporibus harum
    rem?
    Ut, soluta. Itaque natus atque fuga eveniet, excepturi modi, assumenda maxime provident laboriosam rem, ex expedita
    dolorem sed! Officia necessitatibus pariatur suscipit quam. Illo, id nobis dolorem quam ullam sit?</p>